@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

canvas {
  display: block;
  border: 5px solid maroon;
  margin-right:auto;
  margin-left:auto;
  margin-top: 100px;
}

button {
  font-family: 'Roboto';
  cursor: pointer;
}

input {
  text-align: center;
  width: 30%;
  font-size: 20px;
  border: 3px solid;
  padding: 15px 0px 15px 0px;
  transition: all 0.5s;
}

input:hover {
  padding: 10px 0px 10px 0px;
  border: 3px solid blue;
}